/*$primary: #07689f;
$success: #17a2b8;
$warning: #de354c;
$danger: #932432;
$info: #3c1874;
$light: #f3f3f3;
$dark: #283747;*/

$navbg: #932432;
@import "~bootstrap/scss/bootstrap";
//Bootstrap Breakpoint Mixin (From: https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/)
@import "/styles/MediaQueries";
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
