.request {
  margin: 2% 10% 2% 10%;
  padding: 20px;
}

.requestList {
  list-style: none;
  text-align: left;
  line-height: 12px;
}

.requestList h1 {
  font-size: 30px;
}

.request li {
  background-color: #cce5ff;
}

.card-img {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 15rem;
}

.large-img {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 30rem;
}

.navbar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 3px;
}

#requests h1 {
  padding: 1rem;
}

.request-card {
  height: 100%;
}

.request-card-container {
  margin-bottom: 1.5rem;
}

#requests .row {
  padding: 1rem;
}

.request-card .btn {
  margin-right: 5px;
  margin-left: 5px;
}

.singlerequest {
  margin-top: 2rem;
}
